.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-form-1 {
  height: 244px;
  width: 570px;
  margin: 60px auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

.u-section-1 .u-btn-2 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-2 {
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    margin: 30px auto 60px;
    padding: 8px 33px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 93px;
}